.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 8px;

  .app-title {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 500;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 8px;

  a {
    display: flex;
    align-items: center;
    
    &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }
    
    mat-icon {
      margin-right: 4px;
    }
  }
}

@media (max-width: 599px) {
  .nav-items a span {
    display: none;
  }
  
  .app-title {
    font-size: 1rem;
  }
}
